/* Google Fonts  */
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Poppins&family=Yeseva+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #e5e5e5;
  font-family: "Poppins", sans-serif;
}
.flexible-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-banner-text {
  width: 40%;
}
.top-banner-image {
  width: 40%;
}
.top-banner-image img {
  width: 100%;
}
.header-text {
  font-size: 60px;
  border-left: 5px solid #ff5959;
  font-family: "Yeseva One", cursive;
  margin-bottom: 5px;
  padding-left: 13px;
  color: #333333;
}
.colored-text {
  color: #ffad5a;
}
.colored-button {
  text-decoration: none;
  padding: 10px 30px;
  background-color: #ff5959;
  border-radius: 5px;
  color: #fff;
}
.scroll-text {
  margin-top: 33px;
}
.text-description {
  margin-bottom: 19px;
  font-size: 18px;
}
/* Mission Section  */
.mission {
  margin-bottom: 86px;
}
.header-title {
  text-align: center;
  font-size: 48px;
  margin-bottom: 48px;
  font-weight: 700;
  color: #13103a;
}
.mission-image {
  width: 40%;
  margin-top: 25px;
}
.mission-image img {
  width: 141px;
  height: 141px;
  margin-bottom: 12px;
}
.card-item {
  padding: 0 20px;
  border-radius: 26px;
  width: 348px;
  height: 340px;
}
.first-card {
  background-color: #eef6f7;
}
.second-card {
  background-color: #ffefef;
  margin: 0 24px;
}
.third-card {
  background-color: #fff4d6;
}
.activity-body {
  width: 315px;
  height: 153px;
}
.activity-header {
  font-size: 24px;
  margin-bottom: 16px;
}
.activity-text {
  margin-bottom: 45px;
  font-size: 16px;
}
/* Communication sextion  */
.communication {
  margin-bottom: 105px;
  background-image: url(../images/shapes/shape-1.png);
  background-repeat: no-repeat;
  background-position: left;
}
.communication-coding-image img {
  width: 400px;
  height: 400px;
  margin-left: 125px;
}
.community-header {
  font-size: 36px;
  color: #333333;
}
.communication-text {
  margin-left: 72px;
  margin-right: 125px;
}
.communication-project-image img {
  width: 400px;
  height: 400px;
  margin-right: 125px;
}
.communication-project-text {
  margin-right: 72px;
  margin-left: 125px;
}
.communication-repeat {
  margin-bottom: 86px;
  background-image: url(../images/shapes/shape-1.png);
  background-repeat: no-repeat;
  background-position: right;
}
/* Projects section  */
.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 50px 20px;
}
.project-title {
  text-align: center;
  font-size: 22px;
}
.project-details {
  border-radius: 20px;
  padding: 15px;
  cursor: pointer;
}
.project-details img {
  height: 300px;
  width: 345px;
  border-radius: 20px;
}
/* footer section  */
.footer-title {
  font-family: "Lobster", cursive;
  font-size: 36px;
}
.footer-body {
  top: 92%;
  text-align: center;
  background-color: #0b0d17;
  color: #fff;
  padding-top: 39px;
  padding-bottom: 42px;
}
.footer-text-color {
  color: #ff5959;
}
.footer-text {
  font-size: 14px;
  margin-top: 20px;
}
